echo "# honeypot-api" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/sandipan-028/honeypot-api.git
git push -u origin main